<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>

    <target xsi:type="File"
        name="service"
        archiveEvery="Day"
        archiveFileName = "logs/ApiTpl-{########}.log"        
        maxArchiveFiles = "7"
        archiveNumbering = "Date"
        archiveDateFormat = "yyyyMMdd"
        fileName="logs/ApiTpl.log"
        encoding="utf-8"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${logger:shortName=true} - ${aspnet-request:item=traceId} ${aspnet-request:item=userIp} ${message} ${exception:format=tostring}" />

    <target xsi:type="File"
        name="sn"
        archiveEvery="Day"
        archiveFileName = "logs/sn-{########}.log"
        maxArchiveFiles = "2"
        archiveNumbering = "Date"
        archiveDateFormat = "yyyyMMdd"
        fileName="logs/sn.log"
        encoding="utf-8"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${logger}:0 - ${message}" />

  </targets>

  <rules>
    <logger name="ApiTpl.*" minlevel="Debug" writeTo="service" />
    <logger name="System.Net.*" minlevel="Info" writeTo="sn" />
  </rules>
</nlog>
